services:
  postgres:
    image: postgres:16
    container_name: postgres_sistema_leilao
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: YourStrong@Password123
      POSTGRES_DB: sistemaleilao
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dev-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_sistema_leilao
    ports:
      - "5672:5672"   # Porta do protocolo AMQP (sua aplicação usará esta)
      - "15672:15672" # Porta do Painel de Controle (Management UI)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - dev-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  dev-network:
    driver: bridge

volumes:
  postgres_data:
  rabbitmq_data: